@font-face {
      font-family: 'Ambit-Regular';
      src: url('Ambit-Regular.woff') format('woff');
      font-weight: normal;
      font-style: normal; }

@font-face {
      font-family: 'Ambit-Black';
      src: url('Ambit-Black.woff') format('woff');
      font-weight: normal;
      font-style: normal; } 